/* general */
#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.back2home{
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  display: block;
  margin-top: 24px;
}


/* details page */
.home-link{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 50px;

  border: 1px solid #ddd;
  border-radius: 50px;
  padding: 12px 24px;
  width: 300px;
}

.link-icon{
  width: 100px;
}
.link-icon.dark{
  filter: invert(1);
}


/* controls page */
.input-display{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
