
.input-display{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#config-alarm div div{
  padding: 5px;
  background-color: #242424;
}
#config-alarm div div:hover{
  cursor: pointer;
}
#config-alarm div div.active{
  background-color: rgb(0, 128, 255);
}