
.input-display{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#config-alarm div div{
  padding: 5px;
  background-color: #242424;
}
#config-alarm div div:hover{
  cursor: pointer;
}
#config-alarm div div.active{
  background-color: rgb(0, 128, 255);
}

.controlSection{
  margin: 25px auto;
  /* margin-top: 25px; */

  border-top: 1px solid white;
  width: 80vw;

  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
